  <!--   Урок 4  -->
  <!-- Завдання №1. Змініть колір тексту на червоний та фон на жовтий, коли користувач наведе курсор миші на кнопку  -->
  <!--  Використовуйте цей селектор :hover-->

    <section class='m-5 card'>
      <div class='card-header'>Завдання 1</div>
      <div class='card-body'>
        <div class='lesson-four-task-one'>
            <button class="btn">Натисніть мене</button>
        </div>
      </div>
    </section>

    <!-- Завдання №2. Змініть фон заголовка на зелений, коли користувач наведе курсор миші на посилання: -->
  <!--  Використовуйте цей селектор :hover-->

    <section class='m-5 card'>
        <div class='card-header'>Завдання 2</div>
        <div class='card-body'>
            <div class='lesson-four-task-two'>
                <a href="#" class="link">Посилання</a>
                <h1 class="title">Це заголовок</h1>
            </div>
        </div>
    </section>

    <!-- Завдання №3. Змініть колір тексту відвіданого посилання на жовтий: -->
  <!--    Порада проходити це завдання на https://codepen.io/ ,адже через те,
          що браузер запам'ятовує посилання на які ви заходили вам потрібно буде скидати кеш постійно,
          тому легше всього пройти тут -->
  <!--  Використовуйте цей селектор :visited-->

    <section class='m-5 card'>
        <div class='card-header'>Завдання 3</div>
        <div class='card-body'>
            <div id="lesson-four-task-three" class='lesson-four-task-three'>
                <a href="#lesson-four-task-three" class="link">Посилання</a>
            </div>
        </div>
    </section>

    <!--    Завдання №4. Змініть колір тексту посилання,
    яке знаходиться в блоку з ідентифікатором "sidebar", на червоний: -->

  <!--    Порада проходити це завдання на https://codepen.io/ ,адже через те,
        що браузер запам'ятовує посилання на які ви заходили вам потрібно буде скидати кеш постійно,
        тому легше всього пройти тут -->

  <!--      Використовуйте цей селектор :link -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 4</div>
    <div class='card-body'>
      <div class='lesson-four-task-four'>
        <div id='sidebar'>
          <a href='#sidebar' class='link'>Посилання</a>
        </div>
      </div>
    </div>
  </section>

  <!--    ЗаЗавдання №5. Змініть колір фону кнопки на синій, коли кнопка активна  -->

  <!--      Використовуйте цей селектор :active -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 5</div>
    <div class='card-body'>
      <div class='lesson-four-task-five'>
        <button class='btn'>Натисни мене</button>
      </div>
    </div>
  </section>

  <!--    Завдання №6. Змініть колір тексту та фон кнопки, коли вона отримує фокус, на помаранчевий: -->

  <!--      Використовуйте цей селектор :focus -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 6</div>
    <div class='card-body'>
      <div class='lesson-four-task-six'>
        <button class='btn'>Натисни мене</button>
      </div>
    </div>
  </section>

  <!--    Завдання №7. Змініть колір тексту на білий та фон елемента на зелений,
  який вказаний в URL як фрагмент, коли на нього встановлюється :target -->

  <!--      Використовуйте цей селектор :target -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 7</div>
    <div class='card-body'>
      <div class='lesson-four-task-seven'>
        <div id='target'>Це Якір</div>
        <a href='#target'>Перейти до якору</a>
      </div>
    </div>
  </section>

  <!--    Завдання №8. Змініть колір тексту на білий та фон елемента на синій при натискані відповідного чекбоксу: -->

  <!--      Використовуйте цей селектор :checked -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 8</div>
    <div class='card-body'>
      <div class='lesson-four-task-eight'>
        <label for='checkbox'>Виберіть цей чек бокс</label>
        <input type='checkbox' id='checkbox' />

        <div id='target'>Цей текст зміниться при виборі чек
          боксу</div>
      </div>
    </div>
  </section>

  <!--    Завдання №9. Змінити колір тексту на синій для усіх елементів на сторінці, які написані українською мовою. -->

  <!--      Використовуйте цей селектор :lang() -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 9</div>
    <div class='card-body'>
      <div class='lesson-four-task-nine'>
        <p lang='uk'>Ласкаво просимо на наш сайт!</p>
        <p lang='en'>Welcome to our website!</p>
        <p>Це текст на різних мовах.</p>
      </div>
    </div>
  </section>

  <!--    Завдання №10. Змінити колір тексту на червоний та фон на жовтий елементів форми, які включені та доступні для введення.-->

  <!--      Використовуйте цей селектор :enabled -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 10</div>
    <div class='card-body'>
      <div class='lesson-four-task-ten'>
        <form>
          <div class='form-group'>
            <label for='username'>Ім'я користувача:</label>
            <input
              type='text'
              class='form-control'
              id='username'
              name='username'
              required
            />
          </div>

          <div class='form-group'>
            <label for='password'>Пароль:</label>
            <input
              type='password'
              class='form-control'
              id='password'
              name='password'
              required
            />
          </div>

          <div class='form-group'>
            <label for='email'>Email:</label>
            <input
              type='email'
              class='form-control'
              id='email'
              name='email'
              required
              disabled
            />
          </div>
          <button
            type='submit'
            class='btn btn-primary'
          >Відправити</button>
        </form>
      </div>
    </div>
  </section>

  <!--    Завдання №11. При використанні селектора :disabled змінити фоновий колір на жовтий в полях введення, які є неактивними.-->

  <!--      Використовуйте цей селектор :disabled -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 11</div>
    <div class='card-body'>
      <div class='lesson-four-task-eleven'>
        <label for='username'>Ім'я користувача:</label>
        <input
          type='text'
          id='username'
          name='username'
          disabled
        />

        <label for='password'>Пароль:</label>
        <input
          type='password'
          id='password'
          name='password'
          disabled
        />

        <button type='submit' disabled>Увійти</button>
      </div>
    </div>
  </section>

  <!--    Завдання №12. Встановіть жовтий фоновий колір для елементів <input>, що без атрибута readonly. -->

  <!--      Використовуйте цей селектор :read-write -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 12</div>
    <div class='card-body'>
      <div class='lesson-four-task-twelve'>
        <label for='username'>Ім'я користувача:</label>
        <input
          type='text'
          id='username'
          name='username'
          readonly
        />

        <label for='password'>Пароль:</label>
        <input
          type='password'
          id='password'
          name='password'
        />

        <button type='submit'>Увійти</button>
      </div>
    </div>
  </section>

  <!--  Завдання №13. Встановіть жовтий фоновий колір для інпуту з атрибутом readonly. -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 13</div>
    <div class='card-body'>
      <div class='lesson-four-task-thirteen'>
        <input type='text' readonly />
        <input type='text' />
        <input type='text' />
      </div>
    </div>
  </section>

  <!--    Завдання №14. Зробіть поле вводу зеленим, коли введене значення коректне, і червоним - якщо ні. -->

  <!--      Використовуйте ці селектори :valid та :invalid   -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 14</div>
    <div class='card-body'>
      <div class='lesson-four-task-fourteen'>
        <input type='text' required pattern='[A-Za-z]{3}' />
      </div>
    </div>
  </section>

  <!--    Завдання №15. Застосувати селектор :optional до текстового поля форми,
  яке не є обов'язковим для заповнення, і змінити його фон на червоний,. -->

  <!--      Використовуйте цей селектор :optional -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 15</div>
    <div class='card-body'>
      <div class='lesson-four-task-fifteen'>
        <form>
          <label for='name'>Ім'я:</label>
          <input
            type='text'
            id='name'
            name='name'
            required
          />
          <label for='email'>Електронна пошта:</label>
          <input type='email' id='email' name='email' />
          <label for='message'>Повідомлення:</label>
          <textarea
            id='message'
            name='message'
            optional
          ></textarea>
          <button type='submit'>Відправити</button>
        </form>
      </div>
    </div>
  </section>

  <!--    Завдання №16. Є форма з полем вводу числа, яке може бути від 0 до 100.
  Задача змінити колір тексту поля вводу на червоний, якщо значення не входить до цього діапазону.-->

  <!--      Використовуйте цей селектор :out-of-range -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 16</div>
    <div class='card-body'>
      <div class='lesson-four-task-sixteen'>
        <form>
          <label for='quantity'>Кількість:</label>
          <input
            type='number'
            id='quantity'
            name='quantity'
            min='0'
            max='100'
            class="bg-secondary"

          />
        </form>
      </div>
    </div>
  </section>

  <!-- Завдання №17.    Є форма з полем вводу числа, яке може бути від 0 до 100.
  Задача змінити колір тексту на червоний, якщо значення входять до діапазону від 0 до 100. -->

  <!--      Використовуйте цей селектор :in-range-->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 17</div>
    <div class='card-body '>
      <div class='lesson-four-task-seventeen '>
        <form>
          <label for='quantity'>Кількість:</label>
          <input
            type='number'
            id='quantity'
            name='quantity'
            min='0'
            max='100'
            class="bg-secondary"
          />
        </form>
      </div>
    </div>
  </section>

  <!--    Завдання №18.У цьому завданні потрібно зробити, щоб змінювався колір фону placeholder на червоний ,
  який зникає, коли користувач починає вводити. -->

  <!--      Використовуйте цей селектор :placeholder-shown-->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 18</div>
    <div class='card-body'>
      <div class='lesson-four-task-eighteen'>
        <input type='text' placeholder='Введіть текст' />
      </div>
    </div>
  </section>

  <!--    Завдання №19. Застосуйте селектор :focus-within до блоку,

  який змінює колір тексту на білий та фоновий колір на жовтий при активному стані. -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 19</div>
    <div class='card-body'>
      <div class='lesson-four-task-nineteen'>
          <div class="btn-group">
              <button>Кнопка 1</button>
              <button>Кнопка 2</button>
              <button>Кнопка 3</button>
          </div>
      </div>
    </div>
  </section>

  <!--    Завдання №20. При валідації форми з помилкою, змінюйте колір фону на червоний. -->

  <!--      Використовуйте цей селектор :invalid-->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 20</div>
    <div class='card-body'>
      <div class='lesson-four-task-twenty'>
        <form>
          <label>
            Ім'я:
            <input type='text' name='name' required />
          </label>
          <br />
          <label>
            Електронна пошта:
            <input type='email' name='email' required />
          </label>
          <br />
          <button type='submit'>Відправити</button>
        </form>
      </div>
    </div>
  </section>


</body>
